<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.iliuminate.poofandroid" >


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application

        android:icon="@drawable/poof_logo"
        android:label="Poof!"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".Splash"
            android:label="Poof!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="Poof!" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".RegClient"
            android:label="@string/title_activity_reg_customer" >
        </activity>
        <activity
            android:name=".RegShop"
            android:label="@string/title_activity_reg_shop" >
        </activity>
    </application>

</manifest>
